.header{
	height: 100px;
}
.noStyleLink{
	text-align: left;
	float: left;
}

.noStyleLink a:link {
   text-decoration: none;
   color:inherit;
}

.noStyleLink a:visited {
    text-decoration: none;
    color:inherit;
}

.login{
	float: right;
	text-align: right;
}