<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <h1>Recepeit!</h1>

  <form method ="get">

    <label for="searchVal">Search for recipes:</label>
    <input name="searchVal" />
    <button type='submit'>Search</button>
  </form>

  <table>
    <tr>
      <th>Name</th>
      <th>Preparation Time</th>
      <th>User Posted</th>
      <th>Average Rating</th>
    </tr>
    {% for n in data %}
    <tr>
      <td><a href="/recipePage/{{n.id}}">{{n.name}}</a></td>
      <td>{{n.preparation_time}}</td>
      <td>{{n.user_posted}}</td>
      <td>{{n.rating|round(2,'floor')}}</td>
    </tr>
    {% endfor %}
  </table>


</body>


</html>
