
  {% include 'header.html' %}

  <h1>{{name}}</h1>

  <div>
    Posted by: {{user}}
  </div>

  <br>
  
  <div>
    Preparation Time: {{time}}
  </div>
  
  <br>

  <div>
    Estimated Price: {{price}}
  </div>
  
  <br>
  <br>
  
  <div>
    Ingredients:
    {% for n in ingred %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  <br>
  
  <div>
    Instructions:
    <div>
      {{instr}}
    </div>
  </div>
  
  <br>
  <br>

  <div>
    Average Rating: {{rating|round(2,'floor')}}/10.0
  </div>
  
  <br>
  
  <div>
    User Comments:
    {% for n in comments %}
    <div>{{n.username}} wrote: </div>
    <div>{{n.description}}</div>
    <br>
    {% endfor %}
  </div>
  
    {% include 'footer.html' %}


